@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400&text=Shiny);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200&text=byRStudio);

body {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
}

.mean     { color: red;    }
.median   { color: DarkOrange; }
.quartile { color: green;  }
.stdev    { color: blue;   }

table.center {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

tr, td { text-align:left; }
